<button type="button" name="button" (click)='getInfoFromServicesClass1'>Employee1</button>
<ul class="list-groupe">
<li *ngFor="let info of infoRecived1" class="list-groupe-item">{{info}}</li>
</ul>

<pre></pre>
<button type="button" name="button" (click)='getInfoFromServicesClass2'>Employee2</button>
<ul class="list-groupe">
<li *ngFor="let info of infoRecived2" class="list-groupe-item">{{info}}</li>
</ul>

<pre></pre>
<button type="button" name="button" (click)='getInfoFromServicesClass3'>Employee3</button>
<ul class="list-groupe">
<li *ngFor="let info of infoRecived3" class="list-groupe-item">{{info}}</li>
</ul>
